.hero {
    position: relative;
    padding: 40px 24px;
    min-height: 300px;

    .hero-inner {
        position: absolute;
        top: 55%;
        @media (max-width: 440px) {
            top: 73%;
        }
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        span {
            color: var(--background-color);
            font-size: 3.5rem;
            text-align: center;
            display: block;
            line-height: 3rem;
        }

        button {
            max-width: 350px;
            background-color: var(--color-brand-test-3);
            border-radius: 7px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 40px;
            font-size: 2.5rem;
            font-weight: 600;
            letter-spacing: 0;
        }
    }
}

.hero-container {
    margin-top: 50px !important;

    .hero {
        height: 500px;
    }
}

.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--background-color);
    text-align: center;
    position: absolute;
    top: 23%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 5rem;
}

.hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (width >= 900px) {

    .hero {
        padding: 40px 32px;
    }
}
